@font-face {
    font-family: 'SF Sports Night NS AltUpright';
    src: url('SFSportsNightNSAltUpright.eot');
    src: url('SFSportsNightNSAltUpright.eot?#iefix') format('embedded-opentype'),
        url('SFSportsNightNSAltUpright.woff2') format('woff2'),
        url('SFSportsNightNSAltUpright.woff') format('woff'),
        url('SFSportsNightNSAltUpright.ttf') format('truetype'),
        url('SFSportsNightNSAltUpright.svg#SFSportsNightNSAltUpright') format('svg');
    font-weight: normal;
    font-style: normal;
}

