@font-face {
    font-family: 'LemonChicken';
    src: url('LemonChicken.eot');
    src: url('LemonChicken.eot?#iefix') format('embedded-opentype'),
        url('LemonChicken.woff2') format('woff2'),
        url('LemonChicken.woff') format('woff'),
        url('LemonChicken.ttf') format('truetype'),
        url('LemonChicken.svg#LemonChicken') format('svg');
    font-weight: normal;
    font-style: normal;
}

