@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-Light.eot');
    src: url('JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-Light.woff2') format('woff2'),
        url('JosefinSans-Light.woff') format('woff'),
        url('JosefinSans-Light.ttf') format('truetype'),
        url('JosefinSans-Light.svg#JosefinSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

