@font-face {
    font-family: 'Prototype';
    src: url('Prototype.eot');
    src: url('Prototype.eot?#iefix') format('embedded-opentype'),
        url('Prototype.woff2') format('woff2'),
        url('Prototype.woff') format('woff'),
        url('Prototype.ttf') format('truetype'),
        url('Prototype.svg#Prototype') format('svg');
    font-weight: normal;
    font-style: normal;
}

