@font-face {
    font-family: 'moderna';
    src: url('Moderna.eot');
    src: url('Moderna.eot?#iefix') format('embedded-opentype'),
        url('Moderna.woff2') format('woff2'),
        url('Moderna.woff') format('woff'),
        url('Moderna.ttf') format('truetype'),
        url('Moderna.svg#Moderna') format('svg');
    font-weight: normal;
    font-style: normal;
}

