@font-face {
    font-family: 'SF Espresso Shack';
    src: url('SFEspressoShack.eot');
    src: url('SFEspressoShack.eot?#iefix') format('embedded-opentype'),
        url('SFEspressoShack.woff2') format('woff2'),
        url('SFEspressoShack.woff') format('woff'),
        url('SFEspressoShack.ttf') format('truetype'),
        url('SFEspressoShack.svg#SFEspressoShack') format('svg');
    font-weight: normal;
    font-style: normal;
}

