@font-face {
    font-family: 'SF Fourche SC';
    src: url('SFFourcheSC-Italic.eot');
    src: url('SFFourcheSC-Italic.eot?#iefix') format('embedded-opentype'),
        url('SFFourcheSC-Italic.woff2') format('woff2'),
        url('SFFourcheSC-Italic.woff') format('woff'),
        url('SFFourcheSC-Italic.ttf') format('truetype'),
        url('SFFourcheSC-Italic.svg#SFFourcheSC-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

