@font-face {
    font-family: 'Knights Quest';
    src: url('KnightsQuest.eot');
    src: url('KnightsQuest.eot?#iefix') format('embedded-opentype'),
        url('KnightsQuest.woff2') format('woff2'),
        url('KnightsQuest.woff') format('woff'),
        url('KnightsQuest.ttf') format('truetype'),
        url('KnightsQuest.svg#KnightsQuest') format('svg');
    font-weight: normal;
    font-style: normal;
}

