@font-face {
    font-family: 'Titillium Web';
    src: url('TitilliumWeb-Italic.eot');
    src: url('TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype'),
        url('TitilliumWeb-Italic.woff2') format('woff2'),
        url('TitilliumWeb-Italic.woff') format('woff'),
        url('TitilliumWeb-Italic.ttf') format('truetype'),
        url('TitilliumWeb-Italic.svg#TitilliumWeb-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

