@font-face {
    font-family: 'Times New Roman';
    src: url('TimesNewRomanPS-BoldMT.eot');
    src: url('TimesNewRomanPS-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('TimesNewRomanPS-BoldMT.woff2') format('woff2'),
        url('TimesNewRomanPS-BoldMT.woff') format('woff'),
        url('TimesNewRomanPS-BoldMT.ttf') format('truetype'),
        url('TimesNewRomanPS-BoldMT.svg#TimesNewRomanPS-BoldMT') format('svg');
    font-weight: bold;
    font-style: normal;
}

